# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Images
*.jpg
*.jpeg
*.png
*.tif
*.tiff
*.bmp
*.gif


!Img-preprocessing/DJI_20250413114434_0003_D.JPG

# folder output
Img-preprocessing/